
<div class="regdiv">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "login"}) do |f| %>
<h1>Sign up</h1>

  <%= devise_error_messages! %>
 <fieldset id="inputs">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true,  id: "username" %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off",  id:"password" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",  id:"password" %></div>
</fieldset>
<fieldset id="actions">
  <div><%= f.submit "Sign up", id:"submit" %></div>
   <div class="reg_links">
<%= render "devise/shared/links" %>
   </div>
    </fieldset>
<% end %>
</div>

