<% content_for(:navigation) do %>
<div class="page_title">
<h1>Guides</h1>
</div>
<% end %>
<div class="guide_left_block">
  dsd
</div>
<div class="guide_main_cont">
	<div class="guide_main_title">
		<h2>Guide title</h2>
	</div>
<p>Find me in app/views/guids/guids.html.erb</p>
</div>
 <div class="clear"></div>