<!DOCTYPE html>
<html>
  <head>
    <title>CompanySite</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<script type='text/javascript'>
SyntaxHighlighter.all();
</script>

  </head>
  <body>
    <div id="header">
      <div id="header_content" class="inner-wrap">
        <div id="logo" itemscope itemtype="http://schema.org/Organization">
          
          <!-- <%= link_to image_tag("logotip.png", :alt => "logo", :title => "Home"), root_path %>-->
          
        </div>
                    <div class="lang_sect">
              <%= link_to image_tag("uk.png"), locale: :en %>
              <%= link_to image_tag("ru.png"), locale: :ru %>
            </div>
        <div id="menu">
          <ul>
            <li class="active"><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Blog', blog_path %></li>
            <li><%= link_to 'Guides', guides_path %></li>
            <li><%= link_to 'Download', download_path %></li>
            <!--<li><%= link_to 'Pricing', pricing_path %></li>-->
            <li><%= link_to 'About', about_path %></li>      
            <div class="reg_sect">
              <% if user_signed_in? %>
                <li>Hi,
                  <%= current_user.email %> | </li>
               <li> <%= link_to 'Sign-out', destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to 'Sign-in |', new_user_session_path %></li>
           
                <li><%= link_to 'Register', new_user_registration_path %></li>
              <% end %>
            </div>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="clear"></div>
        <%= yield :navigation%>
        <div class="clear"></div>
      </div><!-- / #header_content -->
    </div><!-- / #header -->

    <div id="main_content">
      <%= yield %>
    </div><!-- / #main_content -->
    <div id="footer">
      <div id="footer_content">
        <div class="footer_left">
          <div class="f_column">
            <ul>
             <li> <%= link_to 'Home', root_path %> </li>
             <li> <%= link_to 'Guides', guides_path %></li>
             <li> <%= link_to 'Download', download_path %></li>
              <li><%= link_to 'About', about_path %> </li>
             <li> <%= link_to 'F.A.Q.', faq_path %> </li>
            <li>  <%= link_to 'Contact', about_path %></li>
            </ul>
          </div>
          <div class="clear"></div>
          <div class="copyright">Copyright © 2014 logistic.net. All Rights Reserved</div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- /.footer_content -->
    </div>
    <!-- /footer -->
    <div class="clear"></div>
  </body>
</html>
<script>
function footer2bottom() {
    var $footer = $('#footer'); // class элемента футера. вместо него можно использовать ID
    $footer.css('margin-top', 'auto'); // сбрасываем настройку верхнего отступа для блока футер
    if ($('body').height() < $(window).height()) { // если высота body меньше, чем высота окна
        var fmargin = $(document).height() - $footer.offset().top - $footer.height(); // вычисляем верхний оступ
        $footer.css('margin-top', fmargin + 'px'); // применяем верхний отступ
    }//if    
}
// обработка события после загрузки дерева DOM
$().ready(function() {
    footer2bottom(); // вызываем функцию для футера
    $(window).on('resize',function(){ // если окно изменяет размер (можно дописать другие события)
        footer2bottom(); // вызываем функцию для футера
    });
});
</script>