
<div class="f_div">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, html: {id: "login"}) do |f| %>
<h1>Forgot your password?</h1>
  <%= devise_error_messages! %>
 <fieldset id="inputs">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, id: "username" %></div>
</fieldset>
<fieldset id="actions">
  <div><%= f.submit "Send me reset password instructions", id:"submit" %></div>
  <div class="reg_links">
<%= render "devise/shared/links" %>
  </div>
    </fieldset>

<% end %>
</div>

<div class="clear"></div>

