
<div class="log_div">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "login"}) do |f| %>
<h1>Log in</h1>
 <fieldset id="inputs">
  <div>
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, id: "username"%>
</div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", id:"password" %></div>
</fieldset>
<fieldset id="actions">
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in", id:"submit" %></div>
  <div class="reg_links">
<%= render "devise/shared/links" %>
  </div>
  
  </fieldset>

<% end %>

</div>



<!--
 <form id="login">
    <h1>Форма входа</h1>
    <fieldset id="inputs">
        <input id="username" type="text" placeholder="Логин" autofocus required>   
        <input id="password" type="password" placeholder="Пароль" required>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="ВОЙТИ">
        <a href="">Забыли пароль?</a><a href="">Регистрация</a>
    </fieldset>
</form>-->