
<div class="f_div">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post },html: {id: "login"}) do |f| %>
<h1>Resend confirmation instructions</h1>
  <%= devise_error_messages! %>
   <fieldset id="inputs">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, id: "username" %></div>
</fieldset>
<fieldset id="actions">
  <div><%= f.submit "Resend confirmation instructions", id:"submit" %></div>
      <div class="reg_links">
<%= render "devise/shared/links" %>
  </div>
  </fieldset>
<% end %>
</div>