<% content_for(:navigation) do %>
  <div class="page_title">
    <h1>Download</h1>
  </div>
<% end %>


<div class="left_download_content">
  <ul id="download_menu">
  <li><%= link_to 'Maven', download_maven_path, class:"active" %></li>
  <li><%= link_to 'Jar file', download_jar_path %></li>
  <li><%= link_to 'Gradle', download_gradle_path %></li>
</ul>
</div>

<div class="main_download_content">
<%= yield %>
</div>
<div class="clear"></div>
<% parent_layout "application" %>

<script type="text/javascript">
$(function () {                                      // Когда страница загрузится
    $('.left_download_content a').each(function () {             // получаем все нужные нам ссылки
        var location = window.location.href; // получаем адрес страницы
        var link = this.href;                // получаем адрес ссылки
        if(location == link) {               // при совпадении адреса ссылки и адреса окна
            $(this).addClass('active');  //добавляем класс
            //$(this).removeClass('active');
        }
                else{
                  $(this).removeClass('active');
                }
            
    });
});
</script>