<% content_for(:navigation) do %>
<!--<p> <%= t('.hello') %> </p>
<p> <%= t('.data') %> </p>-->
<div class="featured-builder">
  <h1>Logistic</h1>
  <h3>Quickly find the optimal route.</h3>
  <h4>Logistic is a framework for logistics solutions.</h4>
  <div class="section-buy">
    <%= link_to 'Get Started', guides_path, class:"builder-buy effekt-push" %>
    <%= link_to 'Download', download_path, class:"builder-demo effekt-push" %>
  </div>
</div>
<div class="featured-top">
  <!--<%= image_tag("mainImage.jpg", height: '307', width:'80%', class: "menu_icon") %>-->
</div>
<% end %>

<div class="section section-modules">
  <div class="inner-wrap">
    <div class="half-left">
      <%= image_tag("logistic.png", class: "left_main_img", height: '75%', width:'85%') %>
    </div>
    <div class="half-right">
      <h2 class="section__title">Logistic</h2>
      <div class="section__desc">
        <p>
        This framework allows you to search the optimal route for a given graph.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="section section-drag">
  <div class="inner-wrap">
    <div class="half-left">
      <h2 class="section__title">Demo</h2>
      <div class="section__desc">
        <p>
        Code
        </p>
      </div>
    </div>
    <div class="half-right">
      <img src="http://www.wpzoom.com/wp-content/themes/wpzoom/images/builder/builder-drag.png" />
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="section-faq">
  <div class="inner-wrap">
    <h2 class="section__title">Features and benefits of the framework Logistic</h2>
    <ul class="builder-faq">
      <li><h4><span>Who the target audience?</span></h4>This product is designed for logistics companies.
      </li>
        <li><h4><span>Support clients</span></h4>Our support staff responds quickly to user requests.</li>
      <li><h4><span>Support clients</span></h4>Our support staff responds quickly to user requests.</li>
        <li><h4><span>Regular updates</span></h4>We are constantly improving the program and adding new features.</li>
      <li><h4><span>Regular updates</span></h4>We are constantly improving the program and adding new features.</li>
      <li><h4><span>Individual approach</span></h4>We can implement additional features on individual request.</li>
        <li><h4><span>Individual approach</span></h4>We can implement additional features on individual request.</li>
      <li><h4><span>Free support</span></h4>Draw for you online training and help to implement the system in a short time.<br /><br /><br /><center>and many more...</center></li>
      <li><h4><span>Easy to use</span></h4>We have tried to make as simple and intuitive user interface.</li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<!-- / #main_content -->