<div class="log_div">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }, , html: {id: "login"}) do |f| %>
<h1>Resend unlock instructions</h1>
  <%= devise_error_messages! %>
 <fieldset id="inputs">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, id: "username" %></div>
</fieldset>
<fieldset id="actions">
  <div><%= f.submit "Resend unlock instructions" %></div>
    <div class="reg_links">
<%= render "devise/shared/links" %>
  </div>
    </fieldset>
<% end %>
</div>