// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .sidebar {
    float: right;
    width: 28%;
   // color: #788895;
    margin-right: 8%;
    margin-top: 2%;
}
.single_post {
    width: 53%;
   // color: #5E5E63;
    float: left;
    margin-left: 7%;
}
.single_post h2 {
    font-size: 34px;
    font-weight: bold;
    color: #274f85;
    line-height: 1.3;
    border-bottom: 1px solid #E4E4E4;
}
.social_box {
    margin: 0 0 30px;
    background: #fff;
    -webkit-box-shadow: -5px 5px 0 1px #F6F8FA;
    box-shadow: -5px 5px 0 1px #F6F8FA;
    border: 2px solid #D6DFE8;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.social_box h3 {
    background: #F2F4F6;
    font-size: 20px;
    font-weight: 600;
    color: #4F5E6D;
    padding: 10px 20px;
    border-bottom: 2px solid #D6DFE8;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    margin: 0;
}
.social_box .text_box {
    margin-left: 5%;
    width: 90%;
    padding-bottom: 5%;
}
.social_box .text_box p {
    display: inline;
}
.about_text{
  text-align: justify;
  line-height: 35px;
  margin-bottom: 20px;
}

.about_text p{
  color: #143B5F;
}