/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 * //require shCore
 * //require shThemeDefault

 */

html {
    font-size: 62.5%;
}
body {
    min-width: 982px;
    background: #FFF;
    font-size: 16px;
    margin: 0;
    font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
    line-height: 1.5716;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    position: relative;
}
.inner-wrap {
    margin: 0 auto;
    width: 90%;
    position: relative;
}
#main_content{
    height:100%;
    width:100%;
}
.clear {
    clear: both
}
a {
    text-decoration: none
}
#menu .reg_sect {
    float: right;
    margin-left: 150px;
}
#menu .reg_sect p {
    display: inline;
    margin-left: 2%;
}
#menu .reg_sect li a {
    margin: 0 0 0 5px;
}
#menu .reg_sect li {
    display: inline;
}
#header_content .lang_sect {
    display: block;
    float: right;
}
#header_content .lang_sect a {
    margin: 0 0 0 5px;
}
#footer {
    background: #2D3449;
    margin: 0;
    font-size: 16px;
    position:relative;
    height:100px;
}
#footer_content {
    margin: 0 auto;
    width: 90%;
}
#footer h3 {
    font-size: 16px;
    letter-spacing: 0.7px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
.f_column{
    padding-top: 1%;
}
.f_column a {
    color: #A5B8D0;
}
.f_column a:hover {
    text-decoration: none;
    color: #fff;
}
.f_column ul {
    padding: 4px;
    margin: 0;
}
.f_column li {
    display: inline;
    margin-right: 8%;
    padding: 0 0 7px;
    list-style-type: none;
}
#footer .copyright {
    color: #fff;
    border-top: 1px solid #353E5A;
    padding: 10px 0 0;
}
#footer .copyright a {
    color: #A5B8D0;
}
#footer .copyright a:hover {
    color: #fff;
}

.page_title {
    width: 90%;
    margin: 0 auto;
    color: #A5B8D0;
    font-size: 18px;
    font-weight: 500;
    height: 90px;
}
.page_title h1 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    display: block;
    text-transform: uppercase;
}