// Place all the styles related to the download controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .main_download_content {
    width: 67%;
    padding-bottom: 3%;
    float: right;
    margin-right: 7%;
}
.left_download_content {
    width: 15%;
    float: left;
    margin-left: 9%;
    height: 30%;
}
.main_download_content h2 {
    font-size: 34px;
    font-weight: bold;
    color: #274f85;
    line-height: 1.3;
    border-bottom: 1px solid #E4E4E4;
}
.downl_button {
    width: 197px;
    background-color: #00CC77;
    color: #fff;
    padding: 19px 25px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.tab_button {
    width: 197px;
    float: left;
    text-align: center;
}
.tab_text {
    margin-left: 2%;
}
.tab_button a {
    background-color: #525680;
    color: #fff;
    padding: 19px 50px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.tabs_container {
    padding: 20px;
    height: 50px;
}
.left_download_content ul#download_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 300px;
}
.left_download_content ul#download_menu li a {
    color: #3F3F3F;
    background: #CFCFCF;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 55px;
    display: block;
    margin-top: 1%;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 55px;
}
.left_download_content ul#download_menu li a.active{
    background: #99CAF6;
}

.left_download_content ul#download_menu li a span {
    font-family: sans-serif;
    font-size: 18px;
    padding: 17px 0 0 20px;
    display: block;
}