// Place all the styles related to the guids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .guide_left_block {
    border-radius: 3px;
    background: #F2F4F6;
    width: 20%;
    float: left;
    padding: 15px 0;
   // color: #5b616d;
    font-size: 14px;
    margin-left: 8.5%;
    display: block;
    line-height: 1.8;
    margin-top: 2%;
    margin-bottom: 2%;
}
.guide_main_cont {
    float: right;
    width: 58%;
    margin-right: 11%;
    margin-bottom: 30px;
    //color: #5b616d;
    font-size: 16px;
    line-height: 1.8;
}
.guide_main_title {
    border-bottom: 1px solid #d0d4d8;
    width: 100%;
    float: left;
    margin: 10px 0 25px;
}
.guide_main_title h2 {
    font-size: 28px;
    line-height: 48px;
    font-weight: 600;
    color: #143B5F;
    margin: 0 0 15px;
}