// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #header {
    padding-top: 20px;
    background: #242b3e;
}
#logo {
    float: left;
    margin-top: 15px;
    width: 197px;
    margin-left: 55px;
}
#logo a {
    display: block;
    overflow: hidden;
    width: 197px;
}
#menu ul {
    float: right;
    margin: 0 0 47px;
    padding: 13px 0;
    list-style-type: none;
}
#menu li {
    float: left;
    padding: 9px 0 10px;
    height: 15px;
    text-align: center;
    font-size: 16px;
}
#menu a {
    position: relative;
    margin: 0 0 0 35px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: 600;
}
#menu li:last-child a {
    padding-right: 0
}
#menu li a:hover {
    border-bottom: 2px solid #25A2CF
}
#menu li.active a {
    border-bottom: 2px solid #25A2CF
}
#menu li a sup {
    font-size: 10px;
    background: #00CC77;
    color: #fff;
    padding: 3px 4px;
    border-radius: 8px;
    font-weight: 600;
    vertical-align: super;
    margin: 0 0 0 5px;
    text-transform: uppercase;
    position: absolute;
    width: 27px;
    height: 13px;
    top: -18px;
    right: -15px;
    line-height: 1.5;
}
#menu ul li.login-link a {
    margin-left: 20px
}
#menu ul li.login-link:before {
    content: '|';
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 0 20px;
    color: #576368;
}
.featured-top {
    float: right;
    width: 50%;
    margin: 55px 0 70px;
    border-radius: 5%;
}
.featured-top .menu_icon {
    border-radius: 2%;
    -webkit-filter: contrast(90%);
}
.featured-builder {
    color: #fff;
    width: 45%;
    float: left;
    margin: 25px 0 0;
}
.featured-builder h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 1.0;
    margin: 0 0 10px;
    background: url(images/builder/builder-logo.png) no-repeat 195px;
    height: 67px;
    padding: 10px 0 0;
}
.featured-builder h1 span {
    margin-left: 100px
}
.featured-builder h3 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
    color: #fff;
}
.featured-builder h4 {
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 10px;
    color: #A5B8D0;
}
/* Buttons */

a.builder-buy {
    background-color: #00CC77;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 16px 25px;
    margin: 25px 35px 25px 0;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a.builder-buy:hover, a.builder-buy:active {
    background: #24E293
}
a.builder-demo {
    background-color: #3e9ccf;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 16px 25px;
    margin: 25px 0;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a.builder-demo:hover, a.builder-demo:active {
    background: #4AADE2
}
.half-right {
    float: right;
    width: 45%;
}
.half-left {
    float: left;
    width: 45%;
}
.half-left .left_main_img {
    border-radius: 5%;
    -webkit-filter: contrast(80%);
}
.half-left img, .half-right img {
    max-width: 100%;
    height: auto;
}
.content-nav {
    background: #11131A
}
.content-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.content-nav li {
    display: inline-block;
    padding: 12px 23px;
}
.content-nav a {
    padding: 10px;
    color: #fff;
    font-size: 22px;
}
.section:before, .section:after {
    display: table;
    content: " ";
}
.section:after {
    clear: both
}
.section:before, .section:after {
    display: table;
    content: " ";
}
.section:after {
    clear: both
}
.section {
    border-bottom: 2px solid #D0D4D8
}
.section > .inner-wrap {
    padding: 70px 0
}
.section__title {
    margin: 15px 0;
    color: #312E2E;
    font-weight: 300;
    font-size: 50px;
    line-height: 1.2;
}
.section__desc {
    margin: 0 auto
}
.section__desc p {
    margin: 15px 0;
    line-height: 1.7;
    font-size: 20px;
}
.section__desc p:last-child {
    margin-bottom: 36px
}
.section-modules .half-left {
    width: 52%
}
.section-modules .half-right {
    width: 43%;
    margin-top: 23px;
}
.section-drag {
    border-bottom: none
}
.section-drag .half-left {
    width: 44%;
    margin-top: 50px;
}
.section-drag .half-right {
    width: 51%
}
.section-vendors {
    background: #647587;
    color: #fff;
    text-align: center;
    padding: 40px 0 0;
}
.section-vendors .shops-other {
    margin: 45px 0 0;
    width: 216px;
    display: inline-block;
    background-color: #344454;
    color: #e6edf0;
    padding: 10px 20px;
    font-style: italic;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.section-vendors img:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
    cursor: pointer;
}
.section-vendors h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 4px;
    color: #334455;
    margin: 0 0 35px;
}
.section-faq {
    background: #F0EFEB;
    padding: 50px 0 20px;
    color: #7B7B7B;
}
.section-faq .section__title {
    text-align: center;
    margin-bottom: 70px;
}
.section-faq h4 {
    margin: 0 0 20px;
    display: block;
}
.section-faq h4 span {
    color: #227799;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding: 0 0 5px;
    border-bottom: 1px solid #DBDEDE;
}
.section-faq ul {
    margin: 0;
    padding: 0;
}
.section-faq ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    width: 33%;
    padding: 0 3% 0 0;
    margin: 0 0 45px;
}
.section-pricing {
    padding: 70px 0
}
.section-pricing .section__title {
    text-align: center;
    margin: 0 0 50px;
}
.section-pricing .plan-header {
    padding: 20px 0;
    margin: 0 0 15px;
    background: #c6e6ec;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.section-pricing .plan-business {
    margin: 0 2%
}
.section-pricing .builder-pricing {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}
.section-pricing .builder-pricing li {
    list-style-type: none
}
.section-pricing .builder-pricing > li {
    float: left;
    width: 32%;
    background: #F0F5F6;
    padding-bottom: 25px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.section-pricing .pricing-price {
    display: block;
    font-size: 46px;
    color: #4F5E6D;
}
.section-pricing .pricing-title {
    display: block;
    font-size: 16px;
    color: #7fbbc6;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.section-pricing a.pricing-button {
    background-color: #00CC77;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 12px 35px;
    margin: 30px 0 20px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #00CC77;
}
.section-pricing a.pricing-button:hover, .section-pricing a.pricing-button:active {
    background: #24E293;
    border: 2px solid #24E293;
}
.section-pricing a.pricing-button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.pricing-features {
    padding: 0;
    margin: 30px 0 0;
}
.pricing-features li {
    margin: 0 0 10px 0;
    text-align: center;
    color: #788895;
}
.pricing-features li strong {
    font-weight: 600;
    color: #ee4444;
}
.pricing-features li span {
    font-weight: 600
}
.pricing-note {
    margin: 40px 0 40px 60px;
    padding-bottom: 40px;
    font-size: 16px;
    border-bottom: 1px solid #EEF1F1;
}
.pricing-note h4 {
    font-weight: 500;
    font-size: 22px;
    margin: 0 0 7px;
    padding: 0;
    color: #312E2E;
}
.pricing-faq h2.section__title {
    font-size: 28px
}
.pricing-faq h4 {
    margin: 0 0 10px;
    display: block;
}
.pricing-faq h4 span {
    color: #227799;
    font-weight: 500;
    font-size: 20px;
}
.pricing-faq ul {
    margin: 0;
    padding: 0;
}
.pricing-faq ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    width: 49%;
    padding: 0 3% 0 0;
    margin: 0 0 45px;
}
.pricing-faq ul li a {
    color: #227799;
}
.pricing-faq ul li a:hover {
    color: #ee4444;
}
.section-intro {
    border-bottom: none
}
.section-optimize {
    border-bottom: none
}