.downl_button {
    width: 197px;
    background-color: #00CC77;
    color: #fff;
    padding: 19px 25px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.downl_button a {
    color: #fff;
}
.downl_button:hover {
    background-color: #09E488;
}