<% content_for(:navigation) do %>
<div class="page_title">
<h1>About</h1>
</div>
<% end %>
<div class="sidebar">
	<div class="social_box">
		<h3>Contact Us</h3><div class="clear"></div>
		<div class="text_box">
			<%= image_tag("skype.png", height: '32', width:'32') %>
			<p>logistic.support</p></br>
			<%= image_tag("email.png", height: '32', width:'32') %>
<p>marianna.roshchenko@gmail.com</p>


</div>
	</div>
</div>
<div class="single_post">
	<h2>About project</h2>
  <div class="about_text">
Text
    </div>
</div>
 <div class="clear"></div>

