<div class="blog_left_block">
  <ul>
    <% @blogs.each do |blog| %>
      <% if blog.prime == true %>
        <ul>
          <li>
            <%= link_to blog.title, show_blog_path(blog.key) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

