<% content_for(:navigation) do %>
  <h1><%= @blog.title %></h1>
<% end %>
<%= render 'primes'%>
<div class="blog_main_cont">
<div class="section section-modules">
  <div class="inner-wrap">
    <tr>
      <%=raw @blog.articleHtml%>
    </tr>
    <div class="clear"></div>
  </div>
</div>
</div>
<div class="section section-modules">
</div>
