<% content_for(:navigation) do %>
<div class="page_title">
  <h1>Blog</h1>
</div>
<% end %>
<%= render 'primes'%>
<div class="blog_main_cont">
  <div class="section section-modules">
    <% @blogs.each do |blog| %>
      <% if blog.show == true %>
        <div class="guide_main_title">
          <h2><%= blog.title %>
            <%= blog.date %></h2>
        </div>
        <tr>
          <%= raw blog.description %>
          <%= link_to 'Read more...', show_blog_path(blog.key) %>
        </tr>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div class="section section-modules">
</div>
