<% content_for(:navigation) do %>
<div class="page_title">
<h1>Price#index</h1>
</div>
<% end %>
<div class="section-pricing">
  <div class="inner-wrap">
    <h2 class="section__title">Pricing Options</h2>
    <a name="buy"></a>
    <ul class="builder-pricing">
      <li class="plan-single">
        <div class="plan-header">
          <span class="pricing-title">Personal</span>
          <span class="pricing-price">$59</span>
        </div>
        <ul class="pricing-features">
          <li><span>Drag & Drop Builder for WordPress</span></li>
          <li><span>10 Unique Modules</span></li>
          <li><span>10 Pre-built Layouts</span></li>
          <li>Unlimited Layouts</li>
          <li>Automatic Updates</li>
          <li>Works with any Widget</li>
          <li>Responsive Ready</li>
          <li>Quick Installation</li>
          <li><strong>1 Site License</strong></li>
          <li><strong>12 Months of Support & Updates</strong></li>
        </ul>
        <a href="http://www.wpzoom.com/purchase/?id=144" class="pricing-button effekt-push">Buy Personal License</a>
      </li>
      <li class="plan-business">
        <div class="plan-header">
          <span class="pricing-title">Business</span>
          <span class="pricing-price">$99</span>
        </div>
        <ul class="pricing-features">
          <li><span>Drag & Drop Builder for WordPress</span></li>
          <li><span>10 Unique Modules</span></li>
          <li><span>10 Pre-built Layouts</span></li>
          <li>Unlimited Layouts</li>
          <li>Automatic Updates</li>
          <li>Works with any Widget</li>
          <li>Responsive Ready</li>
          <li>Quick Installation</li>
          <li><strong>5 Sites License</strong></li>
          <li><strong>12 Months of Support & Updates</strong></li>
        </ul>
        <a href="http://www.wpzoom.com/purchase/?id=149" class="pricing-button effekt-push">Buy Business License</a>
      </li>
      <li class="plan-developer">
        <div class="plan-header">
          <span class="pricing-title">Developer</span>
          <span class="pricing-price">$159</span>
        </div>
        <ul class="pricing-features">
          <li><span>Drag & Drop Builder for WordPress</span></li>
          <li><span>10 Unique Modules</span></li>
          <li><span>10 Pre-built Layouts</span></li>
          <li><span>10 PSD Layouts</span></li>
          <li>Unlimited Layouts</li>
          <li>Automatic Updates</li>
          <li>Works with any Widget</li>
          <li>Responsive Ready</li>
          <li>Quick Installation</li>
          <li><strong>20 Sites License</strong></li>
          <li><strong>12 Months of Support & Updates</strong></li>
        </ul>
        <a href="http://www.wpzoom.com/purchase/?id=150" class="pricing-button effekt-push">Buy Developer License</a>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
